<ion-content #content>
  <div class="header-container" #header>

    <div class="header-image" [ngStyle]="{background: 'linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,
                                          rgba(0,0,0,0.1) 10%,rgba(0,0,0,0) 25%, 
                                          rgba(0,0,0,0) 75%,rgba(0,0,0,0.1) 90%,
                                          rgba(0,0,0,0.15) 100%), '+ imageUrl + ' 100% 100% / cover no-repeat'}">
    </div>
    <div class="header-image-bottom-line">
    </div>
    <button class="transition-header-back-button" type="button" #backButtonElement> 
      <ion-icon name="arrow-back" color="white"></ion-icon>
    </button>
    <div class="transition-header">
      <div class="title">
        <div class="title-adjuster" #titleAdjusterElement></div>
        <h1 #titleElement>Nombre</h1>
        <h2 *ngIf="subTitle != null" #subTitleElement>{{subTitle}}</h2>
      </div>
    </div>

    <div class="fixed-header" [ngStyle]="{'height': imageHeight * 0.25 + 'px'}" *ngIf="showFixedHeader">
      <button class="fixed-header-back-button" type="button"> 
        <ion-icon name="arrow-back" color="white"></ion-icon>
      </button>
      <div class="title">
        <h1>Nombre</h1>
        <h2 *ngIf="subTitle != null">{{subTitle}}</h2>
      </div>
    </div>
  </div>

  <!--
  <div class="container-info" *ngIf="!showFixedHeader">
    <ion-title [ngStyle]="{'margin-top': (viewPortWidth - 36) + 'px'}" *ngIf="title" >
      <h1 class="title-container " [ngClass]="{'moveTitleAbsolute': firstTime, 'moveAbsolute': transitionAbsolute}">{{title}} </h1>
      <div class="subtitle-container" [ngClass]="{'moveTitleAbsolute': firstTime, 'moveAbsolute': transitionAbsolute}"  *ngIf="subtitle">
        <img [src]="imgRef" class="subtitle-icon" *ngIf="imgRef"> <span>{{subtitle}}</span>
      </div>
    </ion-title>
  </div>
  -->
  <div class="content-info">
    bla bla bla
  </div>

</ion-content>
