page-home {

    .content-info{
        height: 700px;
    }

    .header-container{
        position: relative;
    }

    .header-image{
        background-color: #ffffff;
    }

    .header-image-bottom-line{
        box-shadow: 0px 1px 2px #4b4b4b;
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: rgba(133, 131, 131, 0.73);
    }

    .header-back-button{
        position: fixed;
        width: 25px;
        height: 25px;
        left: 10px;
        top: 18px;
        color: #fff;
        font-size: 24px;
        background-color: transparent;
        z-index: 1;
    }

    .hide-sub-title{
        display: none;
    }

    .subtitle-image{
        height: 25px;
        width: 25px;
        vertical-align: middle;
    }

    .transition-header{
        position: absolute;
        top: 80%;
        width: 100%;
    }

    .header-background{
        height: 100%;
        width: 100%;
        background-color: #fff;
        position: absolute;
        opacity: 0;
    }

    .transition-header .title .no-sub-title{
        margin-top: 35px !important;
    }

    .transition-header .title h2 .subtitle-image{
        filter: brightness(0%) invert(1) contrast(100%);
    }

    .transition-header .title .title-adjuster{
        width: 20px;
        float: left;
        height: 40px;
        transform: 5ms;
    }

    .transition-header .title{
        width: 100%;
        margin-top: 22px;
        position: relative;
    }

    .transition-header .title h1, .transition-header .title h2{
        margin: 0;
        color: #fff;
        line-height: 0.5;
        font-size: 25px;
        text-overflow: ellipsis; 
        width: 100%;
    }

    .transition-header .title h2{
        margin-top: 10px;
        font-size: 20px;
    }

    .fixed-header{
        position: fixed !important;
        top: -10px;
        box-shadow: 0px 1px 2px #4b4b4b;
    }

    .fixed-header .header-background{
        opacity: 1 !important;
    }
    /*
    .fixed-header{
        width: 100%;
        position: fixed;
        top: 0px;
        box-shadow: 0px 1px 5px #4b4b4b;
        background-color: #fff;
        z-index: 999;
    }

    .fixed-header-back-button{
        position: absolute;
        color: #dd4a58;
        width: 25px;
        height: 25px;
        top: 19px;
        left: 10px;
        font-size: 18px;
        background-color: transparent;
    }

    .fixed-header .title h2{
        font-size:  16px;
    }

    .fixed-header .title h1{
        margin-left: 50px;
        margin-top: 17px;
        font-size: 20px;
    }

    .fixed-header .title h2{
        margin-left: 50px;
        margin-top: 9px;
        font-size: 16px;
    }

    .fixed-header .title .no-sub-title{
        margin-top: 26px;
    }
    */
    
}
